<%- include('../../shared/includes/head', {pageTitle: beat.title})  %>
<link rel="stylesheet" href="/styles/beats.css">
<script src="/scripts/cart-mgmt.js" defer></script>
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main id="beat-details">
        <header>
            <img src="<%= beat.imageUrl %>" alt="<%= beat.title %>">
            <div id="beat-info">
                <h1><%= beat.title %></h1>
                <p>$<%= beat.price %></p>
                <button class="btn" data-beatid="<%= beat.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
            </div>
        </header>

        <p id="beat-description"><%= beat.description %></p>
    </main>
<%- include('../../shared/includes/footer') %>